@charset "UTF-8"

        * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
         
        /*  serve para tirar a barra de rolagem do inframe */
        ::-webkit-scrollbar { 
            width: 0px ;
            height: 0px ;
           
        }
        /* onde eu configuro as imagens de cada rede social */
        img {
            width: 100vw;
            
        }

        a {
            display: block;
            background-color: darkred;
            color: white;
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            
        }

        a:hover {
            background-color: red;
        }

    